<div class="modal fade" id="getMenuIngredientsModal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="getMenuIngredientsModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5">Menu's Ingredients</h1>
        <%# button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button %>
      </div>
      <div class="modal-body text-start">
        <ul>
          <% menu.get_menu_ingredients.each do |ingredient| %>
            <li><%= ingredient.name %></li>
          <% end %>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
