<div class="row mt-2">
  <div class="card-group text-center">
    <% (menu.start_date..menu.end_date).to_a.each do |date| %>
      <div class="card shadow-sm">
        <div class="card-header"> 
          <%= date %>
        </div>
        <div class="card-body">
          <% menu.meals.where(date: date).each_with_index do |meal, index| %>
            <%= render meal %>
          <% end %>
          <%= button_to 'add meal', meals_path, params: { menu: menu, meal: { date: date }}, class: 'btn btn-outline-primary' %>
        </div>
      </div>
    <% end %>
  </div>
</div>
