<div class="row mt-2">
  <div class="card-group text-center">
    <% (menu.start_date..menu.end_date).to_a.each do |date| %>
      <div class="card shadow-sm">
        <div class="card-header d-flex">
          <div class="flex-grow-1 align-self-center">
            <%= date.strftime("%A, %B %d") %> 
          </div>
          <span class="dropdown">
            <button class="btn btn-outline-primary btn-sm" data-bs-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis"></i></button>
            <ul class="dropdown-menu">
              <li><%= button_to meals_path, params: { menu: menu, meal: { date: date }}, class: 'dropdown-item' do %><i class="fa fa-plus me-2"></i>Add Meal<% end %></li>
              <li><a class="dropdown-item" href="#"><i class="fa fa-scroll me-2"></i>Ingredients <span class="fst-italic fw-light">(Not Working)</span></a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#"><i class="fa fa-broom me-2"></i>Clear Meals <span class="fst-italic fw-light">(Not Working)</span></a></li>
              <li><%= link_to menu, method: :delete, data: { confirm: 'Are you sure?' }, class: 'dropdown-item' do %><i class="fa fa-trash me-2"></i>Detele Whole Menu</a><% end %></li>
            </ul>
          </span>
        </div>
        <div class="card-body">
          <% menu.meals.where(date: date).each_with_index do |meal, index| %>
            <% if index > 0 %> <hr> <% end %>
            <%= render meal %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
