<li class="list-group-item p-0" > 
  <div class="d-flex justify-content-between align-items-center">
    <div class="d-flex justify-content-start align-items-center">
      <%= image_tag recipe.get_tiny_cover_thumbnail, class: 'img-fluid rounded me-3', alt: 'menu', style:"max-height: 55px;" %>
      <%= recipe.name %>
    </div>

    <%= render 'menus/recipe_toggle', meal: meal, recipe: recipe %> 
  </div>
</li>
