<div class="row nested-fields mb-2">
  <div class="ingredients col-sm-5">
    <%= f.fields_for :source do |source| %>
      <%= render "source_fields", f: source %>
    <% end %>
  </div>

  <div class="col-sm-6">
    <%= f.text_field :details, placeholder: 'Recipe from my Grandma, page 34 of this book, link to the website, ...', class:'form-control'  %>
  </div>

  <div class="col-sm-1">
    <%= link_to_remove_association "X", f, class: 'col-sm-1', class: 'btn btn-danger form-control' %>
  </div>
</div>
