<div class="row">

  <div class="col-sm-6">
    <%= f.select :source_type, Source.source_types.keys.map { |type| [type.humanize, type] }, {}, {class: 'form-select'} %>
  </div>

  <div class="col-sm-6">
    <%= f.text_field :name, class:'form-control' %>
  </div>
</div>
