<p style="color: green"><%= notice %></p>

<h1>Recipes</h1>

<%= link_to "New recipe", new_recipe_path, class: "mb-2 btn btn-primary" %>
<div id="recipes" class="list-group">
  <% @recipes.each do |recipe| %>
    <%= link_to recipe.name, recipe, class: "list-group-item list-group-item-action" %>
  <% end %>
</div>


