<div class="row">
    <h1>Home#index</h1>
    <p>Find me in app/views/home/index.html.erb</p>

    <ul data-controller="position">
        <li>Item 1</li>
        <li>Item 2</li>
        <li>Item 3</li>
        <li>Item 4</li>
    </ul>

    <div class="row">
        <select id="select-state" name="state[]" multiple placeholder="Select a state..." autocomplete="off" class="col" data-controller="select">
			<option value="">Select a state...</option>
			<option value="AL">Alabama</option>
			<option value="AK">Alaska</option>
			<option value="AZ">Arizona</option>
			<option value="AR">Arkansas</option>
			<option value="CA" selected>California</option>
			<option value="CO">Colorado</option>
			<option value="CT">Connecticut</option>
			<option value="DE">Delaware</option>
			<option value="DC">District of Columbia</option>
			<option value="FL">Florida</option>
			<option value="UT">Utah</option>
			<option value="VT">Vermont</option>
			<option value="VA">Virginia</option>
			<option value="WA">Washington</option>
			<option value="WV">West Virginia</option>
			<option value="WI">Wisconsin</option>
			<option value="WY" selected>Wyoming</option>
		</select>
    </div>
</div>
