<div class="row">
  <h1>On Today's Menu </h1>
  <% Meal.where(date: DateTime.now).each do |meal| %>
    <% if meal.recipes.count > 0 %>
      <h3>Meals</h3>
      <div class="row mb-3">
        <div class="col-md-<%= [meal.recipes.count*2,12].min %> card-group text-center" >
          <% meal.recipes.each do |recipe| %>
            <%= link_to recipe, class: "card shadow-sm" do %>
              <!--div class="card-title"> test </div-->
              <%= image_tag recipe.get_square_thumbnail, class: 'card-img-top bg-danger', alt: 'menu' %>
              <div class="card-body">
                <p class="card-text"><%= recipe.name %></p>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
