.navbar {
  background-color: var(--at-navbar-bg);
  --bs-navbar-color: darkslategray;
  --bs-navbar-brand-color: darkslategray;
  --bs-navbar-brand-hover-color: darkslategray;
  --bs-navbar-active-color: darkslategray;
  --bs-navbar-hover-color: #1a2f2f;
  --bs-nav-link-hover-color: #1a2f2f;

  .navbar-toggler-icon {
    --bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(0, 0, 0, 0.55)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
    background-image: var(--bs-navbar-toggler-icon-bg);
  }

  @media (max-width: 767.98px) {
    .offcanvas {
      --bs-navbar-color: var(--bs-body-color);
      --bs-navbar-hover-color: var(--bs-body-color);
      --bs-nav-link-hover-color: var(--bs-body-color);
      --bs-navbar-brand-color: var(--bs-body-color);
      --bs-navbar-brand-hover-color: var(--bs-body-color);

      .form-check-label {
        color: var(--bs-body-color);
      }
    }
  }

  .form-check-label {
    color: darkslategray;
  }

  .form-control {
    background-color: #fff;
    color: #212529;
    border-color: #dee2e6;

    &::placeholder {
      color: #6c757d;
    }
  }
}
